@black_color: #000;
@white_color: #ffffff;
@gray_color: #787d84;
@gray_bg: #eceff1;
@gray_border:#eceff1;
@red_bg: #df3528;

#ac-orgcenter-form{
  width: 100%;
  .table-box{
    width: 100%;
  }
  .footer{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>button:nth-of-type(1){
      margin-left: 0;
    }

    button{
      margin-left: 10px;
      width: 110px;
      height: 36px;
      border: 0;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;

      background: #ffffff;
    }
    button.next{
      background: @red_bg;
      color: @white_color;
    }

    button.last{
      border: 1px solid @red_bg;
      color: @red_bg;
    }
  }
}
